.footer{
    display: flex;
    justify-content: space-between;
    background-color: #F9FAFA;
    padding: 3% 10%;
    div{
        line-height: 30px;
        &:nth-child(1){
            width: 40%;
            padding-right: 10%;
            p{
                font-size: 12px;
            }
            .container_icon_footer{
                display: flex;
                div{
                    margin-right: 20%;
                    svg{
                        color: #04BF9D;
                    }
                }
            }
        }
        &:nth-child(2){
            width: 20%;
        }
        &:nth-child(3){
            width: 20%;
        }
        &:nth-child(4){
            width: 20%;
        }
        ul{
            padding-left: 0;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: #5e686b;
                    font-size: 12px;
                }
            }
        }
    }
}