.container {
  min-height: 100vh;
  height: 100vh;
}

.first_section{
  background-color: #DFF3EE;
  padding: 3% 10%;
  display: flex;
  .find_profesional{
    
    width: 55%;
    .get_best{
      display: flex;
      padding: auto 0;
      h4{
        margin: 0;
        color: #F29F05;
        margin-left: 3%;
      }
      .line_h4{
        height: 3px;
        width: 3rem;
        background-color: #F29F05;
        margin: auto 0;
      }
    }

    h1{
      font-size: 50px;
      line-height: 4rem;
      margin: 3% 0;
    }
    .paragraphe{
      width: 75%;
      font-size: 13px;
      line-height: 25px;
      color: #5e686b;
    }
    .synced_contacts{
      font-size: 13px;
      color: #5e686b;
      margin-top: 4%;
    }
  }

  .section_picture{
    width: 45%;
    align-content: space-between;
    
    // justify-content: end;
    .first_card_check{
      height: 50%;
      .card_check{
        margin: 0 auto;
        background-color: #fff;
        width: 12%;
        height: 25%;
        padding: 3%;
        border-radius: 5px;
      }
    }

  }
 
}

.stat{
  width: 100%;
  background-color: #DFF3EE;
  padding-bottom: 4%;
}

.find_best_accountant{
  text-align: center;
  padding: 3% 10%;
  h2{
    font-size: 40px;
  }
  .container_how_find{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
  }
}

.third_section{
  display: flex;
  padding: 3% 10%;
  margin-top: 5%;
  .find_for_your_as{
    width: 50%;
    .get_best{
      display: flex;
      padding: auto 0;
      h4{
        margin: 0;
        color: #F29F05;
        margin-left: 3%;
      }
      .line_h4{
        height: 3px;
        width: 3rem;
        background-color: #F29F05;
        margin: auto 0;
      }
    }
    h2{
      font-size: 40px;
    }
    p{
      width: 80%;
      line-height: 25px;
    }
    .footer_third_section{
      display: flex;
      margin-top: 7.5%;
      .container_button{
        width: 45%;
        button{
            width: 75%;
            background-color: #04BF9D;
            border-radius: 5px;
            border: none;
            height: 3rem;
            color: #fff;
            &:hover{
              cursor: pointer;
            }
        }
      }
      .looking_link{
        margin: auto 0;
        a{
          color: #04BF9D;
        }
      }
    }
  }
  .content_card_compagny{
    height: 20rem;
    width: 50%;
  }
}

.four_section{
  padding: 3% 10%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  .container_profil{
    width: 50%;
    margin: auto 0;
    div{
      margin-right: 10%;
      margin-left: 0;
    }
  }
  .hire_your_as{
    width: 50%;
    .get_best{
      display: flex;
      padding: auto 0;
      h4{
        margin: 0;
        color: #04BF9D;
        margin-left: 3%;
      }
      .line_h4{
        height: 3px;
        width: 3rem;
        background-color: #04BF9D;
        margin: auto 0;
      }
    }
    h2{
      font-size: 40px;
    }
    p{
      width: 80%;
      line-height: 25px;
    }
    .footer_third_section{
      display: flex;
      margin-top: 7.5%;
      .container_button{
        width: 45%;
        button{
            width: 75%;
            background-color: #F29F05;
            border-radius: 5px;
            border: none;
            height: 3rem;
            color: #fff;
            &:hover{
              cursor: pointer;
            }
        }
      }
      .looking_link{
        margin: auto 0;
        a{
          color: #F29F05;
        }
      }
    }
  }
}
.five_section{
  padding: 3% 10%;
  background-color: #F2F2F2;
  text-align: center;
  h2{
    font-size: 40px;
    
  }
  .container_three_card{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
  }
}


.grand_container{
  background-color: #F2F2F2;
  padding: 3% 10%;
  .container_subscribe{
    width: 100%;
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    .not_inspi{
      width: 100%;
      h3{
        line-height: 35px;
        width: 55%;
        font-size: 25px;
        margin: 0;
      }
    }
  
    .container_button{
      width: 50%;
      padding-left: 25%;
      button{
        margin: 20% 0;
        width: 100%;
        background-color: #04BF9D;
        border-radius: 5px;
        border: none;
        height: 3rem;
        color: #fff;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}

.container_tenK_and_four{
  background-color: #F2F2F2;
  padding: 3% 10%;
  display: flex;
  .tenKandfourK{
    display: flex;
    width: 50%;
    padding: 3% 5%;
    .tenK{
      width: 50%;
      div{
        svg{
          color: rgb(226, 3, 3);
        }
      }
      .looking_link{
        a{
          text-decoration: none;
          color: #4269eb;
          // font-weight: bold;
        }
      }
      h3{
        font-size: 45px;
        margin: 0 0 4% 0;
      }
    }
    .fourK{
      width: 50%;
      div{
        svg{
          color:gold;
        }
      }
      .looking_link{
        a{
          text-decoration: none;
          color: #4269eb;
          // font-weight: bold;
        }
      }
      h3{
        font-size: 45px;
        margin: 0 0 4% 0;
      }
    }
  }
  .container_trusted{
    width: 50%;
    line-height: 40px;
    padding: 3% 5%;
    h3{
      margin: 0;
      font-size: 28px;
    }
    .container_images_part{
      display: flex;
      div{
        margin: auto 4%;
      }
    }
    p{
      margin: 0;
    }
    .looking_link{
      a{
        text-decoration: none;
        color: #F29F05;
        font-weight: bold;
      }
    }
  }
}

.container_all_partainers{
  display: flex;
  justify-content: space-between;
  padding: 3% 10%;
  div{
    margin: auto 0;
  }
}