.container_card_compagny{
    height: 80%;
    margin: 10% auto !important;
    padding: 5%;
    border-radius: 5px;
    width: 80%;
    background-color: #FBFBFD;
    h4{
        margin: 0;
    }
    .text_compagny{
        line-height: 20px;
        p{
            font-size: 11px;
        }
    }
    .footer_card_compagny{
        display: flex;
        justify-content: space-between;
        p{
            margin: auto 0;
            width: 60%;
            display: flex;
            p{
                &:nth-child(1){
                    width: 10%;
                }
                &:nth-child(2){
                    width: 90%;
                }
            }
            svg{
                color: #04BF9D;
                font-size: 20px;
                margin-right: 1%;
                margin-top: 3%;
            }
        }
        .container_button{
            width: 40%;
            button{
                width: 75%;
                background-color: #04BF9D;
                border-radius: 5px;
                border: none;
                height: 2rem;
                color: #fff;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

}